<template>
  <v-app>
    <v-main>
      <h1>Vuetify A</h1>
      <the-vuetify-b></the-vuetify-b>
      <TheVB foo="My chip"></TheVB>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
import 'vuetify-b/dist/style.css'
import {TheVuetifyB, TheVB} from 'vuetify-b'
</script>
