<template>
  <v-app>
    <v-main>
      <TheVB foo="My chip is so lovely"></TheVB>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
import TheVuetifyB from '@/components/TheVuetifyB.vue'
import TheVB from '@/components/TheVB.vue'
</script>
