<template>
    <v-card color="red">
        <v-card-title>
            I am a Vuetify B component!
        </v-card-title>
        <v-card-subtitle>
            A subtitle
        </v-card-subtitle>
        <v-card-text>
            Some text
        </v-card-text>
    </v-card>
</template>